.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    background-color: #131e2d;
    padding: 15px;
  }
  .grid-container  div {
    background-color: #000000;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: #f1f1f1;
    background-color: #131e2d;
  }
  body {
    font-family: Arial;
    margin: 0;
  }
